---
import NavbarLink from './NavbarLink.astro'
import { Icon } from 'astro-icon/components'
import ThemeSelector from './ThemeSelector.astro'
import { SITE_BASE, WebsiteLinks } from '../consts'
import { Button } from '@/components/starwind/button'
import {
	Sheet,
	SheetTrigger,
	SheetContent,
	SheetHeader,
	SheetTitle,
	SheetClose,
} from '@/components/starwind/sheet'
---

<header class="fixed top-0 w-full z-40 bg-background dark:bg-background">
	<nav class="">
		<div
			class="app-container flex justify-between items-center py-1 md:py-5 not-md:border-b not-md:border-b-[#2d4d42]"
		>
			<a
				href={`${SITE_BASE}/`}
				aria-label="Home"
				aria-current={Astro.url.pathname === `${SITE_BASE}/`
					? 'page'
					: undefined}
			>
				<!-- <LogoSVG height={36} width={36} /> -->
				<h2 class="text-2xl font-bold">GREG BARBOSA</h2>
			</a>
			<div class="gap-8 hidden md:flex items-center">
				{
					WebsiteLinks.map((link) => (
						<NavbarLink
							class="text-md"
							href={`${link.url}`}
							target={link.url.charAt(0) === 'h' ? '_blank' : '_self'}
						>
							{link.name}
						</NavbarLink>
					))
				}
				<Button variant="primary" size="sm" href="#footer">Subscribe</Button>
				<ThemeSelector />
			</div>
			<Sheet class="md:hidden">
				<SheetTrigger asChild>
					<button
						class="md:hidden cursor-pointer"
						aria-label="Open navigation menu"
						title="Open navigation menu"
					>
						<Icon aria-hidden name="mdi:menu" size={32} />
					</button>
				</SheetTrigger>
				<SheetContent
					side="right"
					class="w-5/6 bg-background dark:bg-background"
				>
					<SheetHeader class="flex flex-row items-center justify-between">
						<SheetTitle class="sr-only">Navigation Menu</SheetTitle>
						<SheetClose asChild>
							<button
								class="ml-auto block cursor-pointer"
								aria-label="Close navigation menu"
								title="Close navigation menu"
							>
								<Icon aria-hidden name="mdi:close" size={32} />
							</button>
						</SheetClose>
					</SheetHeader>
					<div class="flex flex-col h-full items-start gap-8 pt-8">
						{
							WebsiteLinks.map((link) => (
								<NavbarLink class="text-4xl font-light" href={link.url}>
									{link.name}
								</NavbarLink>
							))
						}
						<Button variant="primary" size="lg" href="#footer" class="w-full">
							Subscribe
						</Button>
						<ThemeSelector class:list="mt-4" />
					</div>
				</SheetContent>
			</Sheet>
		</div>
	</nav>
</header>

<script is:inline>
	function reComputeTheme() {
		if (
			localStorage.theme === 'dark' ||
			(!('theme' in localStorage) &&
				window.matchMedia('(prefers-color-scheme: dark)').matches)
		) {
			document.documentElement.classList.add('dark')
		} else {
			document.documentElement.classList.remove('dark')
		}

		const theme = localStorage.theme || 'auto'
		document
			.querySelectorAll('.theme-button')
			.forEach((el) => el.classList.remove('active'))
		document
			.querySelectorAll(`[data-theme="theme-${theme}"]`)
			.forEach((el) => el.classList.add('active'))
	}

	function addThemeEventListeners() {
		themeButtons = document.querySelectorAll('.theme-button')
		themeButtons.forEach((button) => {
			button.addEventListener('click', () => {
				themeButtons.forEach((btn) => btn.classList.remove('active'))
				button.classList.add('active')
				if (button.dataset.theme === 'theme-auto') {
					localStorage.removeItem('theme')
					reComputeTheme()
				} else {
					localStorage.theme = button.dataset.theme.replace('theme-', '')
					document.documentElement.classList.toggle(
						'dark',
						button.dataset.theme === 'theme-dark'
					)
				}
			})
		})
	}

	// Set active class on OS theme change
	window
		.matchMedia('(prefers-color-scheme: dark)')
		.addEventListener('change', (_e) => {
			reComputeTheme()
		})

	// Run on page load
	window.addEventListener('DOMContentLoaded', () => {
		addThemeEventListeners()
		reComputeTheme()
	})
</script>
