---
import { Icon } from 'astro-icon/components'
import { SocialLinks as socialLinksData } from '../consts'

interface Props {
	linkClass?: string
	iconClass?: string
}

const { linkClass = '', iconClass = 'text-4xl' } = Astro.props
---

<div class="flex gap-6 mb-12">
	{
		socialLinksData.map((link) => (
			<a
				href={link.url}
				target="_blank"
				rel="noopener noreferrer"
				class={linkClass}
				aria-label={link.name}
			>
				<Icon name={`mdi:${link.icon}`} class={iconClass} />
			</a>
		))
	}
</div>
